/* As a reminder for style:
 * https://github.com/necolas/idiomatic-css
 */

/* General */

body {
    margin: 0;
    padding: 0;
    min-width: 450px;
    background-color: #ddf;
    font-family: verdana, arial;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

blockquote {
    margin: 10px;
    border-left: 2px #369 solid;
    padding-left: 4px;
}

button {
    border: 0;
    padding: 0;
    background: none;
    font-family: inherit;
    font-size: 1em;
    text-align: center;
}

button:focus {
    outline: none;
}

button::-moz-focus-inner {
    border: 0;
}

time {
    vertical-align: middle;
}

@media all and (max-width: 550px) {
    p, time, .author {
        font-size: small;
    }
}

/* Macro elements */

#content {
    padding: 10px;
}

#more, #footer {
    width: 100%;
    background-color: #fff;
}

#more {
    position: sticky;
    top: 0;
    z-index: 1;
    border: none;
    padding: 5px;
    box-sizing: border-box;
    box-shadow: 0 0 2px #888;
}

#more.error {
    background-color: #c84;
    color: #fff;
    font-weight: bold;
}

#footer {
    position: fixed;
    bottom: 0;
    z-index: 1;
    box-shadow: 0 0 2px #888;
}

#hidden-comments {
    padding: 5px;
    text-align: center;
}

#show {
    float: left;
    padding: 5px 50px;
    border-right: 1px solid #888;
}

#hide {
    float: right;
    padding: 5px 50px;
    border-left: 1px solid #888;
}

/* Submission */

.submission {
    margin-bottom: 10px;
    background-color: #eee;
    overflow: hidden;
}

.submission-header {
    padding: 5px;
    min-height: 30px;
    width: calc(100% - 10px);
    background-color: #ccc;
}

.comments {
    position: relative;
    margin: 10px;
    min-height: 1px;
}

.author {
    vertical-align: middle;
}

p.author {
    display: inline;
}

.deleted {
    text-decoration: line-through;
}

.submitter {
    border-radius: 3px;
    padding: 0 3px;
    background-color: #0055df;
    color: #fff;
    font-weight: bold;
}

/* Comment */

.comment {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    transition: left 1s, height 0.5s 1s;
}

.shifted-left {
    left: calc(-100% - 10px);
}

.shifted-right {
    left: calc(100% + 10px);
} 

.comment-header {
    padding: 5px;
    min-height: 30px;
    width: calc(100% - 10px);
    background-color: #ddd;
}

.link {
    display: inline;
    vertical-align: middle;
}

.permalink {
    float: left;
    margin: 0 5px;
    display: inline-block;
    height: 30px;
    width: 30px;
    background-image: url(//www.redditstatic.com/about/assets/reddit-alien-small.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
}

.created {
    padding-left: 10px;
}

.md {
    padding: 10px;
}

.md-wrapper {
    height: 0;
    transition: height 0.5s;
}

/* Loading icon */

.loader, .unloadable {
    float: left;
    height: 30px;
    width: 30px;
    text-align: center;
    transition: transform 0.5s;
}

.parent {
    transform: rotate(90deg);
}

.child {
    transform: rotate(-90deg);
}

.minimiser {
    transform: rotate(180deg);
    transition: transform 0.5s;
}

.loader::after, .loader::before, .loading-segs::after, .loading-segs::before {
    content: "";
    position: absolute;
    transform-origin: 0 0;
    height: 4px;
    width: 16px;
}

.loader::after {
    margin-left: 14px;
    transform: rotate(135deg);
    background-image: linear-gradient(to right, transparent 25%, #888 25%);
    animation-delay: -0.5s;
    -webkit-animation-delay: -0.5s;
}

.loader::before {
    margin-top: 14px;
    transform: rotate(225deg);
    background-color: #888;
    animation-delay: -0.25s;
    -webkit-animation-delay: -0.25s;
}

.loading-segs::after {
    margin-left: -14px;
    transform: rotate(-45deg);
}

.loading-segs::before {
    margin-top: -14px;
    transform: rotate(45deg);
    animation-delay: 0.25s;
    -webkit-animation-delay: 0.25s;
}

.loading::after, .loading::before, .loading-segs::after, .loading-segs::before {
    background-color: transparent;
    background-image: linear-gradient(to right, transparent 25%, #888 50%); 
    background-size: 400%;
    animation-name: load;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-name: load;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@keyframes load {
    from {background-position: 0} to {background-position: 64px}
}
@-webkit-keyframes load {
    from {background-position: 0} to {background-position: 64px}
}

.unloadable::after, .unloadable::before {
    content: "";
    position: absolute;
    margin: -2px -12px;
    height: 4px;
    width: 24px;
    background-color: #c84;
}

.unloadable::after {
    transform: rotate(45deg);
}

.unloadable::before {
    transform: rotate(-45deg);
}

/* Statuses */

.faded-out {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.25s;
}

.faded-in {
    opacity: 1;
    transition: opacity 0.25s;
}